$light_gray: #f7f7f7;
$medium_gray: #d9d9d9;
$medium_light_gray: #eee;
$charcoal_gray: #333;


// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@include blueprint;

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
// @include blueprint-scaffolding("body.bp");
@import "compass/utilities/text/replacement";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/gradient";
@import "compass/css3";

// My custom partials
@import "partials/button";
@import "partials/articles";
@import "partials/styles";
@import "partials/form";

body {
  background-color: $light_gray; 
}

input.text, input.title, input[type=email], input[type=text], input[type=password] {
  width: 390px;
  height: 40px;
  font-size: 26px;
}

textarea {
  width: 97%;
  font-size: 12px;
}

#form_narrow {
  margin: 15px;
  padding: 15px;
  padding-left: 23px;
  @include column(16);
  @include push(-4);
  @include article_list;
  padding-top: 15px;
  a {
    font-size: 16px;
    font-weight: bold;
  }
  .submit_button {
    @include button;
    float: right;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

#header {
  position: relative;
  display: block;
  height: 150px; 
  @include box-shadow;
  background-image: url('/images/header-stripe.png');
  background-repeat: repeat; 
  .logo {
    @include replace-text('/images/puzzlenode-header.png'); 
    float: left;
    background-position: 0%;
    height: 150px; 
    width: 480px; } 
  .login {
    @include text-shadow;
    @include border-radius;
    @include box-shadow;
    background-color: $medium_gray;
    text-align: center;
    float: right; 
    font-size: 14px; 
    margin-top: 8px;
    margin-right: 8px;
    padding-right: 5px;
    padding-left: 5px; 
  }
}

#footer {
  height: 40px;
  background-image: url('/images/header-stripe.png');
  background-repeat: repeat;
  margin-top: 40px;
  p {
    padding: 8px;
    padding-top: 10px;
    margin-left: 40px;
    font-size: 14px;
    font-weight: bold;
  }
}

.flash {
  background-color: #00B2EE;
  text-align: center;
  font-weight: bold;
}

h1, h2, h3, h4 {
  @include text-shadow;
  font-weight: bold;
}

#content {
  @include container;
  #page_id { 
    @include column(24);
    font-size: 36px;
    font-weight: bold;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    @include text-shadow;
    a {
      @include button;
      float:right;
      margin-top: 5px;
    }
  }
  #narrow {
    @include column(16);
    @include push(-4);
    @include pull(-4);
    margin-top: 20px;
    text-align: center;
    .picbg {
      @include border-radius(10px);
      @include box-shadow;
      background-image: url('/images/sad_keanu.gif');
      height: 480px;
      h1, h2 {
        @include text-shadow;
        padding-top: 10px;
        color: #fff;
      }
    }
    .darkbg {
      @include border-radius(10px);
      @include box-shadow;
      background-color: #000;
      h2 {
        color: #fff; 
        padding-top: 3px;
      }
      padding-bottom: 3px;
    }
    .link {
      @include link_back;
    }
  }
  #one_col {
    .link {
      @include column(18);
      @include link_back;
    }
    .article_list {
      @include article_list; 
    }
    #article {
      @include article;
    }
    .md_content {
      @include column(18);
      font-size: 14px;
      code {
        @include column(18);
        @include prepend(2);
        @include box-shadow($default-box-shadow-color, 
          $default-box-shadow-h-offset, $default-box-shadow-v-offset, 
          $default-box-shadow-blur, $default-box-shadow-spread, inset);
        @include border-radius(10px);
        background-color: #fff;
        margin: 10px;
        padding: 20px;
        margin-bottom: 30px;
      }
    }
    .button {
      width: auto;
      @include button;
      float:right;
      margin: 15px;
      margin-right: 190px;
    }
  }
  #left_right {
    .left {
      @include column(11); 
      @include button;
      @include button_text;
      float: left; 
      padding: 15px;
      .image {
        float: left;
      }
      .text {
        @include button_text;
        float: right;  
      }
    }
    .right {
      @include column(11, true); 
      @include button;
      @include button_text;
      float: right;
      padding: 15px;
      .image {
        float: left;
      }
      .text {
        @include button_text;
        float: right; 
      }
    } 
  }
  #two_col {
    .main {
      @include column(16); 
      .article_list {
        @include article_list; }
      #article {
        @include article;
      }
    }
    .sidebar {
      @include column(8, true); 
      .widget {
        @include widget;
        .video_content {
          align: center; 
          padding: 2px; }
        }
    }
  } 
}
