#content
  #page_id
    Create a New Puzzle
  #one_col
    = form_for @puzzle, :url => admin_puzzles_path,
      :html => {:multipart => true} do |f|
      = render :partial => "form", :locals => {:f => f}