#content
  #page_id
    Puzzles
  #one_col
    .article_list
      - @puzzles.each do |puzzle|
        #article
          .article_header
            .article_title
              %h3= puzzle.name 
          .button{:onclick => "location.href=\"#{new_puzzle_submission_path(puzzle)}\"", :style => "cursor: pointer;"} Submit solution
          .article_body_with_button
            %p= puzzle.short_description
            %p= link_to "View more details", puzzle_path(puzzle)